
body{
    font-size:0.9rem ;
}
td, th { text-align: left !important;
}
nav{
    border-bottom: 1px solid #dee2e6!important;
    font-size:1.0rem !important;
}
.form-control {
    padding: 0.150rem .75rem;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .2rem 1rem;
}
i.close{
    cursor:pointer !important;
    font-size: 20px;
}
.feedback-nome, .feedback-email, .feedback-usuario, .feedback-senha {
    display: none;
}
.hidde{
    display: none; 
}
.alert-danger, .alert-success {
    display: none;
}
.alert-success {
    color: #0f5132;
    background-color: #b3edca;
    border-color: #3c8564;
}
.alert-danger{
    background-color:#fbc7cc;
    border-color: #842029;
}
.msg-danger{
    color: #842029;
    margin: 0 0 0 5px;
    font-size: 0.8em;
}
.form-label{
    margin-bottom: 0.1em    ;
}
.alert{
    padding: 0.5rem 1rem;
}
.msg-show{
    display: block;
}
.close{
    border-radius: 4px;
    border:none !important;
    background: none !important;
}
.far{
    font-size: 1.3em;
    cursor: pointer;
}